*
{
	margin: 0;
	padding: 0;
}
body {
	background-color: #000;
	color: #fff;
}
div#div_WhoPlay > div
{
	display: none;
}
div.web_center_block
{
	margin: 0 auto;
}
div#GameMenu
{
	float: right;
	position: fixed;
	width: 300px;
	height: 150px;
}
div#GameMenu > div.liste_action
{
	float: right;
	width: 150px;
	height: 150px;
}
div#GameMenu > div.liste_attaque,
div#GameMenu > div.liste_defance
{
	float: left;
	width: 150px;
	height: 150px;
}
div#div_map > div.row
{
	height: 81px;
}
div#div_map > div.row > div.map_block,
div#div_map > div.row > div.map_void
{
	width: 80px;
	height: 77px;
	border: 2px solid #9BB24A;
	line-height: 77px;
	white-space: nowrap;
	float: left;
}
div#div_map > div.row > div.map_last_void
{
	border-bottom: 2px solid #000;
	border-right: 2px solid #000;
}
div#div_map > div.row > div.map_first_void
{
	border-top: 2px solid #000;
	border-left: 2px solid #000;
}
div#div_map > div.row > div.human
{
	background-image: url('../img/maison2.png');
}
div#div_map > div.row > div.nature
{
	background-image: url('../img/arbre2.png');
}
div#div_map > div.row > div.map_block.possible
{
	text-align: center;
	vertical-align: 50px;
}
div#div_map > div.row > div.map_block.possible:after
{
	content: "*";
}
div#div_map > div.row > div.map_block.selected
{
	border: 2px solid #ffff33;
}
div#div_map > div.row > div.nothing,
div#div_map > div.row > div.map_void
{
	background-image: url('../img/herbe2.png');
}
div.action,
div[class*="liste_"]
{
	display: none;
}
button {
	height: 75px;
	width: 150px;
}
button.active
{
	background-color: #ff0000;
}